<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" href="/css/app.css" />
    </head>
    <body>
        <h1>Movies Page</h1>

        <nav>
            <a href="/movies/new">Create a New Movie</a>
        </nav>

        <ul>
            <% for (let i=0; i< movies.length; i++){ %>
                <li>
                   <a href="/movies/<%=movies[i].id%>"><%=movies[i].name%></a>
                </li>
                <!-- from html forms, only http GET & POST requests can be sent -->
                <form action="/movies/<%=movies[i].id%>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete" />
                </form>

                <a href="/movies/<%=movies[i].id%>/edit">Edit</a>
                <br><br>
            <% } %>
        </ul>
    </body>
</html>