<!DOCTYPE html>
<html>
    <head>
        <style>
            body {background-color: grey;}
            input {margin-top: 10px;}
        </style>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Add New Movie</h1>
        <form action="/movies" method="POST">
            Name: <input type="text" name="name"/><br/>
            Date Released: <input type="date" name="dateReleased"/><br/>
            <input type="submit" name="" value="Add Movie"/><br/>
        </form>
    </body>
</html>