<!DOCTYPE html>
<html>
    <head>
        <style>
            body {background-color: grey;}
            input {margin-top: 10px;}
        </style>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Edit Pokemon page</h1>
        <form>
            Name: <input type="text" name="name"/><br/>
            img: <input type="text" name="img"/><br/>
            <input type="submit" name="" value="Create Pokemon"/><br/>
        </form>
    </body>
</html>