<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Movie show page</h1>
        The Movie is <%= movies.name %> </br>
        <!-- and it looks like this  -->
        <!-- <img src= <%= poke.img %> -->

        <h3>List of Actors for this Movie</h3>
        <% for (let i=0; i< movie.actors.length; i++) { %>
            <li>
                <%=movie.Actors[i].name%>
            </li>
            <br>
            < } %>

        }

    </body>
</html>