<!DOCTYPE html>
<html>
    <head>
<<<<<<< HEAD
        <style>
            body {background-color: rgb(218, 245, 243);}
            input {margin-top: 10px;}
        </style>
=======
>>>>>>> dc9dff55bfe89c10cf106c28bca0832a192c7dba
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" href="/css/app.css" />
    </head>
    <body>
<<<<<<< HEAD
        <h1>Welcom to the Movie App</h1>
        <nav>
            <a href="/actors">Actors</a><br><br>
        </nav>
        <nav>
            <a href="/movies">Movies</a><br><br>
=======
        <h1>Welcome to the Movie App</h1>
        <nav>
            <a href="/actors">Actor list</a><br><br>
        </nav>
        <nav>
            <a href="/movies">Movie list</a><br><br>
>>>>>>> dc9dff55bfe89c10cf106c28bca0832a192c7dba
        </nav>
    </body>
</html>