<!DOCTYPE html>
<html>
    <head>
        <style>
            body {background-color: rgb(218, 245, 243);}
            input {margin-top: 10px;}
        </style>
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" href="/css/app.css" />
    </head>
    <body>
        <h1>Welcom to the Movie App</h1>
        <nav>
            <a href="/actors">Actors</a><br><br>
        </nav>
        <nav>
            <a href="/movies">Movies</a><br><br>
        </nav>
    </body>
</html>