<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" href="/css/app.css" />
    </head>
    <body>
        <h1>Welcome to the Movie App</h1>
        <nav>
            <a href="/actors">Actor list</a><br><br>
        </nav>
        <nav>
            <a href="/movies">Movie list</a><br><br>
        </nav>
    </body>
</html>