<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <!-- <style>
        input{margin-top: 15px;}
    </style> -->
    <body>
        <h1>Welcome <%=player.name%></h1>
    <form action="/players/profile/<%=actor.id%>?_method=PUT" method="POST">
            Name: <input type="text" name="name" value="<%=player.name%>" /><br> <br>
                  <input id="editButton" type="submit" value="Edit Profile"/><br></br>
       <br>

    </form>
  

       
    </body>
</html>