<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <!-- <style>
        input{margin-top: 15px;}
    </style> -->
    <body>

        <h1>This is the profile for <%=actor.name%></h1>
    <form action="/actors/profile/<%=actor.id%>?_method=PUT" method="POST">
            Name: <input type="text" name="name" value="<%=actor.name%>" /><br> <br>
                  <input id="editButton" type="submit" value="Edit Profile"/><br></br>
       <br>


   

       
    </body>
</html>